html{
    font-size: 20px;
}
h1 {
    color: red;
    text-decoration: underline;
    font-size: 10;
    text-shadow: brown;
    text-align: center;
}

p {
    font-size: 8rem;
    font-style: normal;
}