html{
    font-size: 10px;
}
h1 {
    color: rgb(29, 103, 240);
    text-decoration: underline;
    font-size: 4.8rem;
}

p {
    font-size: 1.8rem;
    font-style: italic;    
    letter-spacing: 3px;
}